services:
  api:
    image: santiagouribe269/lab4_c-api:latest
    ports:
      - "8000:8000"

  streamlit:
    image: santiagouribe269/lab4_c-streamlit:latest
    container_name: mlops-streamlit-deploy
    ports:
      - "8501:8501"
    environment:
      - API_URL=http://api:8000
    depends_on:
      - api

  prometheus:
    image: prom/prometheus:v2.52.0
    ports:
      - "9090:9090"
    volumes:
      - ./monitoring/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml

  grafana:
    image: grafana/grafana:10.2.2
    ports:
      - "3000:3000"
    depends_on:
      - prometheus